.formSection{
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.section{
  display: flex;
  gap: 1rem;
}
.requestForm{
    display: flex;
    flex-direction: column;
}
.formCont{
    min-width: 20rem;
}
img{
    max-width: 150px;
  }
  @media only screen and (max-width: 768px) {
    .section{
     flex-direction: column;
    }
  }