.formSection{
    height: 100%;
    width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.UpdateStartupForm{
    display: flex;
    flex-direction: column;
}
.formCont{
    min-width: 20rem;
}