<section class="formSection">
  <mat-card>
    <mat-card-content class="formCont">
      <h1>Add Sector</h1>
      <form
        class="addSectorForm"
        [formGroup]="addSectorForm"
        (ngSubmit)="onSubmit()"
      >
        <mat-form-field>
          <mat-label for="name">Name</mat-label>
          <input
            matInput
            formControlName="sectorName"
            placeholder="Sector name"
          />
          <mat-error *ngIf="sectorName?.hasError('required')"
            >sector Name is required</mat-error
          >
        </mat-form-field>
        
        <mat-form-field>
          <mat-label for="SectorDesignColor">SectorDesignColor</mat-label>
          <input
            matInput
            type="color"
            formControlName="sectorDesignColor"
            placeholder="Sector Design Color"
          />
          <mat-error *ngIf="sectorDesignColor?.hasError('required')"
            >sector Design Color is required</mat-error
          >
        </mat-form-field>
        <div>
          <label>SectorLogo</label>
          <input
            type="file"
            accept="image/*"
            (change)="upload($event)"
            required
          />
        
            <img
              type="image"
              [src]="downloadUrl"
            />
           
        </div>
        <button
          mat-raised-button
          color="primary"
          (submit)="(onSubmit)"
          [disabled]="!addSectorForm.valid"
        >
          Add Sector
        </button>
      </form>
    </mat-card-content>
  </mat-card>
</section>
