.SecCont {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.HBSec {
  margin: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.mdc-data-table__table {
  width: 95% !important;
  min-width: 0;
}
.logo {
  max-width: 80px;
  padding: 10px;

}
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .logo {
    max-width: 50px;
  }
  .mdc-data-table__cell, .mdc-data-table__header-cell {
    padding: 0px 0px 0px 5px;
}
}
