<!-- <p>{{data.StartupName}}</p> -->
<div class="a-box">
    <div class="img-container">
    
        <div class="inner-skew">
          <img [src]="data.StartupLogo" alt="">

      </div>
    </div>
    <div class="text-container">
      <h3>{{data.StartupName}}</h3>
      <div>
        <p class="">Founder Name:{{data.FounderName}}</p>
    <!-- <p class="">Sector:{{SectorsData[data.SectorID]}}</p> -->
    <p class="">Year Of Establishment:{{data.YearOfEstablishment}}</p>
    <p class="">Startup City:{{data.StartupCity}}</p>
    <p class="">Number Of Employees:{{data.NumberOfEmployees}}</p>
    <p class="">Email Address:{{data.EmailAddress}}</p>
    <!-- <p class="">URL:{{data.URL}}</p> -->
    <a mat-stroked-button [href]="data.URL" target="_blank">Go to website</a>
    </div>
  </div>