<mat-toolbar color="primary">
  <span>Startups.JO</span>
  <span class="example-spacer"></span>
  <button mat-raised-button class="example-icon" [routerLink]="['./request']" >
    Add Startup
  </button>
</mat-toolbar>

<div class="container" *ngIf="SectorsData">
  <div class="sector" *ngFor="let key of objectKeys(SectorsData)">
    <img [src]="SectorsData[key]!.SectorLogo" alt="SectorLogo" class="SectorLogo">
    <h1 >{{SectorsData[key]!.SectorName | uppercase}}</h1>
    
    <div class="startups">
      <!-- <div class="startup" *ngFor="let startup of SectorsData[key].startups" (click)="openDialog(startup)">
        <img [src]="startup.StartupLogo" alt="">
        <h3>{{startup.StartupName}}</h3>
        
      </div> -->
      <div class="a-box" *ngFor="let startup of SectorsData[key].startups" (click)="openDialog(startup)">
        <div class="img-container" >
            <div class="inner-skew" 
              [ngStyle]="{
                'box-shadow': ('0px 0px 10px 0px ' + SectorsData[key]!.sectorDesignColor)
              }">
              <!-- 'border':('1px solid ' + SectorsData[key]!.sectorDesignColor) -->
              <img [src]="startup.StartupLogo" alt="">
            </div>
        </div>
        
        <div class="text-container" 
          [ngStyle]="{
            'box-shadow': ('0px 0px 10px 0px ' + SectorsData[key]!.sectorDesignColor)
          }"
        >
          <h3>{{startup.StartupName}}</h3>
      </div>
  </div>
</div>
<mat-divider class="divider"></mat-divider>
</div>