.example-spacer {
  flex: 1 1 auto;
}
.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
height: 70px;
}
.container{
margin-top: 80px;
}
.secInfo{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.sector{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.SectorLogo{
  width: 65px;
}
.secName{
  font-size: 2.5rem;
  font-weight: 500;
  color: #444;
  margin: 0 !important;
}
.startups{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem;
}
.divider{
  width: 100%;
}
/* ====================== */
.startupCard{
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  width: 230px;
  transform: scale(0.7);
  background-color: white;
}
.startupCard:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.imgContainer{
  width: 100%;
  height: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
}
.imgContainer img{
  width: auto;
  max-width: 150px;
}
.textContainer h3 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 500;
  color: #444;
}