.example-spacer {
  flex: 1 1 auto;
}
.nav{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
height: 70px;
}
.container{
margin-top: 80px;
}
.secInfo{
  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 1rem;
}
.sector{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
}
.SectorLogo{
  width: 65px;
}
.secName{
  font-size: 2.5rem;
  font-weight: 500;
  color: #444;
  margin: 0 !important;
}
.startups{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:center;
  gap: 2rem;
}
.divider{
  width: 100%;
}
/* ====================== */
.startupCard{
  padding: 1rem;
  border-radius: 7px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  width: 230px;
  transform: scale(0.7);
  background-color: white;
}
.startupCard:hover{
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}
.imgContainer{
  width: 100%;
  height: 170px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
}
.imgContainer img{
  width: auto;
  max-width: 150px;
}
.textContainer h3 {
  font-size: 2rem;
  margin: 1rem 0;
  font-weight: 500;
  color: #444;
}
/* ============== */
.heroPanel{
  height: 100vh;
  position: relative;
  overflow: hidden;
}
#heroPanelContent{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: rgba(0,0,0,0.4);
  z-index: 2;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#heroPanelContent h1{
  font-size: 4rem;
  font-weight: 500;
  color: white;
  margin: 0;
}
#heroPanelContent p {
  font-size: 1.5rem;
  font-weight: 400;
  color: white;
  margin: 2rem 0 0 0;
  max-width: 47rem;
  line-height: 1;
}
/* =========== */
* {
  box-sizing: border-box;
}
#homeHeader{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  max-width: 100vw;
  /* height: 104px; */
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}
#homeHeader.headerBg{
  background-color: rgba(3, 3, 3, 0.9);
}
#homeHeader .container{
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-top: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 3rem;
  row-gap: 1rem;
  align-items: center;
  box-sizing: border-box;
}
#homeHeader nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* padding: 0 2rem; */
  gap: 1rem;
  /* padding: 2rem 0; */
}
#homeHeader nav a {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  #homeHeader.hideNav nav {
    display: none;
  }
  #homeHeader {
    /* height: 140px; */
  }
  #homeHeader.hideNav{
    /* height: 104px; */
  }
  #homeHeader .container{
    grid-template-columns: 1fr auto;
    column-gap: 1rem;
    /* grid-template-columns: 1fr; */
    /* row-gap: 1rem; */
  }
  #homeHeader nav {
    justify-content: space-between;
    gap: 0.5rem;
    grid-column: span 2;
    order: 3;
  }
  
  #homeHeader nav a {
    font-size: 0.9rem;
  }
}
/* ===== footer ====== */
#footer{
  background-color: #333;
  color: white;
  padding: 2rem 0;
}
#footer .container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  row-gap: 1rem;
  align-items: center;
  margin-top: 0;
}
.socialLinks{
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
}